{{ form_start(form) }}
    <div class="row m-3">
        <div class="w-6-12">
            <div class="w-11-12">
            {{ form_row(form.label, {'label':'account.edit.label.label'|trans}) }}
            </div>
        </div>
        <div class="w-6-12">
            <div class="w-6-12">
            {{ form_label(form.soldeInit, 'account.edit.label.init_amount'|trans) }}
            {{ form_widget(form.soldeInit, {'label':'account.edit.label.init_amount'|trans, 'label_attr': {'class': 'label-control'}}) }}</div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="w-12-12 text-center">
            <button class="form-control btn btn-primary">{{ 'app.common.save_button'|trans }}</button>
        </div>
    </div>
{{ form_end(form) }}
