{% extends 'base.html.twig' %}

{% block title %}Importation des opérations{% endblock %}

{% block body %}
    {{ include('common/header.html.twig', {'route_return': 'account_index', 'title': 'Importation des opérations'}) }}
    {{ form_start(form) }}
    {% include 'common/flashMessage/flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col s6">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Fichier</span>
                    {{ form_widget(form) }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <div class="col s6">
            <button class="btn">{{ button_label|default('Importer') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
